<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Indemniplus - Área Médica</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
        {% load static %}
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

    <script>
     window.dataLayer = window.dataLayer || [];
     function gtag(){dataLayer.push(arguments);}

     // Define el consentimiento predeterminado de regiones concretas según tus requisitos
     gtag('consent', 'default', {
       'ad_storage': 'denied',
       'ad_user_data': 'denied',
       'ad_personalization': 'denied',
       'analytics_storage': 'denied',
       'functionality_storage': 'denied',
       'personalization_storage': 'denied',
       'security_storage': 'denied',
       'regions':['US'],
     });

     // Set default consent for all other regions according to your requirements
     gtag('consent', 'default', {
       'ad_storage': 'denied',
       'ad_user_data': 'denied',
       'ad_personalization': 'denied',
       'analytics_storage': 'denied',
       'functionality_storage': 'denied',
       'personalization_storage': 'denied',
       'security_storage': 'denied',
     });
    </script>
    <script src="https://cmp.osano.com/16BlMkUNJMqvt2Djk/f117ba04-604c-4398-8f0b-476a25495285/osano.js"></script> 
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-C752G8MKP6"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-C752G8MKP6');
    </script>
</head>
<body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Indemniplus</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" href="/">Inicio</a></li>
                <li class="nav-item"><a class="nav-link" href="/legal">Legal</a></li>
                <li class="nav-item"><a class="nav-link" href="/medica">Salud</a></li>
                <li class="nav-item"><a class="nav-link" href="/blog">Blog</a></li>
                <li class="nav-item"><a class="nav-link" href="/#contacto">Contacto</a></li>
            </ul>
        </div>
    </nav>

    <!-- Zona Médica -->
    <section id="zona-medica" class="py-5">
        <div class="container">
            <div class="text-center mb-5">
                <h2>Tu Salud es Nuestra Prioridad</h2>
                <p>Nos aseguramos de brindarte el mejor tratamiento médico desde el primer minuto.</p>
            </div>
            <div class="row">
                <div class="col-lg-6 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h4 class="card-title">Atención Inmediata</h4>
                            <p class="card-text">Una vez contactes con nosotros, te ofreceremos una amplia red de centros sanitarios en distintas zonas del territorio nacional, donde podrás escoger el que más se acomode a tus circunstancias.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h4 class="card-title">Profesionales Especializados</h4>
                            <p class="card-text">Nuestro equipo médico está formado por reputados profesionales especializados en lesiones derivadas de accidentes de tráfico, con una actualización continua en medios y formación para ofrecer el tratamiento más eficaz.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h4 class="card-title">Tratamiento Gratuito</h4>
                            <p class="card-text">Te ofrecemos de forma totalmente gratuita las sesiones de fisioterapia y rehabilitación que pudieras necesitar hasta tu completa recuperación.</p>
                             <div class="row">
                                <!-- Columna 1 -->
                                <div class="col-md-6">
                                    <ul class="arrow-list">
                                        <li>Hospitales</li>
                                        <li>Clínicas</li>
                                        <li>Servicio de Urgencias</li>
                                        <li>Cirugía</li>
                                        <li>Pruebas Médicas</li>
                                        <li>Transporte Sanitario</li>
                                        <li>Traumatología</li>
                                    </ul>
                                </div>
                                <!-- Columna 2 -->
                                <div class="col-md-6">
                                    <ul class="arrow-list">
                                        <li>Rehabilitación</li>
                                        <li>Fisioterapia</li>
                                        <li>Electroterapia</li>
                                        <li>Magnetoterapia</li>
                                        <li>Ultrasonidos</li>
                                        <li>Onda Corta</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h4 class="card-title">Diagnóstico y Seguimiento</h4>
                            <p class="card-text">Tanto el tratamiento médico recibido como el posterior diagnóstico entregado estarán enfocados al Baremo de tráfico según el Real Decreto Legislativo 6/2015, para que obtengas la máxima indemnización.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h4 class="card-title">Experiencia y Eficacia</h4>
                            <p class="card-text">Con años de experiencia, conocemos en profundidad los diferentes tipos de lesiones derivadas de accidentes de tráfico y ofrecemos las mejores alternativas de tratamiento con resultados sobresalientes.</p>
                            <p class="card-text">Si es necesario, tendrás a tu disposición un informe pericial emitido por un profesional cualificado para la negociación con la compañía aseguradora.</p>
                            <p class="card-text">Nos caracteriza un alto porcentaje de asuntos solucionados de forma amistosa, evitando la necesidad de presentar una demanda judicial y los costes asociados.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="text-center py-4">
        <p>&copy; 2024 Indemniplus. Todos los derechos reservados.</p>
        <p><a class="nav-link" href="/politica-privacidad">Politica de privacidad</a></p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>